
<footer class="footer mt-5">

        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="http://www.red18tech.com/">
                  Red18Tech
                </a>
              </li>
              <li>
                <a href="http://www.red18tech.com/about-us/">
                  About Us
                </a>
              </li>
              <li>
                <a href="#">
                  Career
                </a>
              </li>
              <li>
                <a href="#">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="mailto:priyank.p@red18tech.com" target="_blank">Priyank</a> Python Developer.
          </div>
        </div>

      </footer>
    