<!-- Dashbaard sidebar -->
{% load static %}

        <div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static 'img/sidebar-1.jpg' %}">
          <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
            Tip 2: you can also add an image using data-image tag
        -->
          <div class="logo">
            <a href="{% url 'dashboard' %}" class="simple-text logo-normal">
              <img src="{% static 'img/logo.png' %}" alt="RED18TECH CRM">
            </a>
          </div>
          <div class="sidebar-wrapper">
            <ul class="nav">
              <li 
                  {% if 'dashboard' in request.path %}
                class="nav-item active  "
                  {% else %}
                class="nav-item"
                  {% endif %}>
                

                <a class="nav-link" href="{% url 'dash' %}">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li 
                  {% if 'profile' in request.path %}
                class="nav-item active  "
                  {% else %}
                class="nav-item"
                  {% endif %}>
                <a class="nav-link" href="{% url 'myprofile' %}">
                  <i class="material-icons">person</i>
                  <p>User Profile</p>
                </a>
              </li>
              <li 
                  {% if 'reports' in request.path %}
                class="nav-item active  "
                  {% else %}
                class="nav-item"
                  {% endif %}>
                <a class="nav-link" href="{% url 'reports' %}">
                  <i class="material-icons">content_paste</i>
                  <p>My Reports</p>
                </a>
              </li>
              {% comment %} <li class="nav-item ">
                <a class="nav-link" href="{% url 'record' %}">
                  <i class="material-icons">library_books</i>
                  <p>My Records</p>
                </a>
              </li> {% endcomment %}
              <li 
                  {% if 'invoices' in request.path %}
                class="nav-item active  "
                  {% else %}
                class="nav-item"
                  {% endif %}>
                <a class="nav-link" href="{% url 'invoices' %}">
                  <i class="fa fa-archive" aria-hidden="true"></i>
                  <p>Invoices</p>
                </a>
              </li>
              <!--
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'icons' %}">
                  <i class="material-icons">bubble_chart</i>
                  <p>Icons</p>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="./map.html">
                  <i class="material-icons">location_ons</i>
                  <p>Maps</p>
                </a>
              </li>-->
              <li 
                  {% if 'notifications' in request.path %}
                class="nav-item active  "
                  {% else %}
                class="nav-item"
                  {% endif %}>
                <a class="nav-link" href=" {% url 'notifications' %} ">
                  <i class="material-icons">notifications</i>
                  <p>Notifications</p>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href=" {% url 'admin:records_dts_add' %} ">
                  <i class="material-icons">library_books</i>
                  <p>Add DTS</p>
                </a>
              </li>
              {% comment %} <li class="nav-item ">
                <a class="nav-link" href="./rtl.html">
                  <i class="material-icons">language</i>
                  <p>HR Support</p>
                </a>
              </li> {% endcomment %}
              <li class="nav-item active-pro ">
                <a class="nav-link" href="{% url 'admin:index' %}">
                  <i class="material-icons">unarchive</i>
                  <p>Admin Panel</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        
    