{% extends 'dash_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% load mathfilters %}

{% if user.profile %}

<div class="content">
        <div class="container-fluid">
          <div class="row">

          
            <!-- 1st one -->
            {% comment %} <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">My Report</p>
                  <h3 class="card-title">49/50
                    <small>EM</small>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="#pablo">DTS</a>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}

            <!-- 2nd one -->
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                  <p class="card-category">Revenue</p>
                  <h3 class="card-title">₹ {{total_col | intcomma}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>

            <!-- 3rd one -->
            {% comment %} <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    Mails
                  </div>
                  <p class="card-category">More to go</p>
                  <p class="card-category"  style="position:absolute;left:3px;bottom:0;display:inline-block;padding: 0 10px;">Achived  {#   {{ total_mails_monthly|intcomma }} #}</h4>   
              <h3 class="card-title"> {#   {{ target_mails_monthly|sub:total_mails_monthly|intcomma }} #}</h3>
                </div>
                <div class="card-footer">
                
          <div class="stats"
                {% if target_mails_monthly >= total_mails_monthly %}
                  style="color:red;"
                  {% else %}
                  style="color:green;"
                  {% endif %} >
                    <i class="material-icons fa fa-bullseye"></i> {{target_mails_monthly | intcomma}}
                  </div>
                </div>
              </div>
            </div> {% endcomment %}

            <!-- 4th one -->
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                      <i class="fa fa-bullhorn" aria-hidden="true"></i>

                  </div>
                  <p class="card-category">Leads</p>
                  <h3 class="card-title">+{{ leads|length }} </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                  </div>
                </div>
              </div>
            </div>



            <!--employee record dynammic cards -->
      {% for emp_record, emp_target in records_and_targets %}
             <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    {{emp_target.field_name}}
                  </div>
                  <p class="card-category">More to go</p>
                  
                  <h3 class="card-title">{{emp_target.value|sub:emp_record.value}} </h3>
                </div>
             <div class="card-footer">
                    <div class="stats"
                   {% if emp_target.value >= emp_record.value %}
                    style="color:red;"
                    {% else %}
                    style="color:green;"
                    {% endif %} >
                    <i class="material-icons fa fa-bullseye"></i>{{emp_target.value}}
                  
                  <h5 class="card-category"  style="position:absolute;right:3px;bottom:0;display:inline-block;padding: 10px;color:#333">Achived: {{emp_record.value}}</h5> 
                  
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- 5th one -->
            {% comment %} <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    Calls
                  </div>
                  <p class="card-category">More to go</p>
                  <p class="card-category"  style="position:absolute;left:3px;bottom:0;display:inline-block;padding: 0 10px;">Achived {#  {{ total_calls_monthly | intcomma }} #}</h3>
                  <h3 class="card-title"> {# {{ target_calls_monthly|sub:total_calls_monthly | intcomma }}  #}</h4>
                </div>
             <div class="card-footer">
                    <div class="stats"
                    {% if target_calls_monthly >= total_calls_monthly %}
                    style="color:red;"
                    {% else %}
                    style="color:green;"
                    {% endif %} >
                    <i class="material-icons fa fa-bullseye"></i> {{ target_calls_monthly | intcomma }}
                  </div>
                </div>
              </div>
            </div>

            {% endcomment %}
      
            

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <div class="container">
                  <div class="ct-chart" id="dailyrecordChart"></div>
                </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Daily Sales</h4>
                   <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p> 
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> Past seven days records
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-chart">
                <div class="card-header card-header-warning">
 
                  <div class="ct-chart" id="website1ViewsChart"></div>
          
                </div>
                <div class="card-body">
                  <h4 class="card-title">Leads Registered</h4>
                  <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> Lead registered in past 7 days
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-danger">
                  <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Completed Tasks</h4>
                  <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                  </div>
                </div>
              </div>
            </div> -->
          </div>

<!-- graph for lead by category -->
          <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="card card-chart">
                    <div class="card-header card-header-success">

                      <div class="ct-chart" id="leadsbycategory"></div>
              
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">All leads by Category</h4>
                      <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">access_time</i> campaign sent x days ago
                      </div>
                    </div>
                  </div>

            </div>
          </div>


<!-- graph of employees by their records      -->
{% comment %} <div class="row">
    <div class="col-lg-12 col-md-12">

        <div class="card card-chart">
            <div class="card-header card-header-info">

              <div class="ct-chart" id="emprecordbycategory"></div>
      
            </div>
            <div class="card-body">
              <h4 class="card-title">All Records by Category</h4>
              <p class="card-category"> Performance</p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> campaign sent x days ago
              </div>
            </div>
          </div>

    </div>
  </div> {% endcomment %}
  <!-- end of emp record graph -->



          <div class="row">

          <!-- dts -->
          
            {% comment %} <div class="col-lg-6 col-md-12">
              <div class="card">

                <form action="" method="POST">
                  {% csrf_token %}

                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Tasks:</span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Target
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">code</i> Completed
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">cloud</i> Remarks
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                      <table class="table">
                        <tbody id="addtarget">
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text"  value="" name="target1"></td>
                            
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text" value="" name="target2"></td>
                            
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text" value="" name="target3"></td>
                            
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text" value="" name="target4"></td>
                            
                          </tr>
                          
                        </tbody>
                        <button type="button" class="btn btn-warning" onclick="addtarget()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                      </table>
                    </div> 

                    <!-- break -->

                    <div class="tab-pane" id="messages">
                      <table class="table">
                        <tbody id="addachieved">
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text" value="" name="complete1"></td>
                            
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text" value="" name="complete2"></td>
                            
                          </tr>

                          <tr>
                              <td>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" name="">
                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                              </td>
                              <td><input class="form-control" type="text" value="" name="complete3"></td>
                              
                            </tr>

                            <tr>
                                <td>
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="" name="">
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                </td>
                                <td><input class="form-control" type="text" value="" name="complete4"></td>
                              </tr>
                          
                        </tbody>
                        <button type="button" class="btn btn-warning" onclick="addachieved()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                      </table>
                    </div>

                    <!-- break -->


                    <div class="tab-pane" id="settings">
                      <table class="table">
                        <tbody id="addremark">
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text" value="" name="remark1"></td>
                            
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text" value="" name="remark2"></td>
                            
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" name="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td><input class="form-control" type="text" value="" name="remark3"></td>
                            
                          </tr>
                          <tr>
                              <td>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" name="">
                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                              </td>
                              <td><input class="form-control" type="text" value="" name="remark4"></td>
                              
                            </tr>
             
                            
                        </tbody>
                        <button type="button" class="btn btn-warning" onclick="addremark()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                      </table>
                    </div>
                  </div>
                      <table>
                        <tbody>

                          
                           
                          <tr>
                            <td class="col-lg-8"></td>
                            <td><div class="input-group-prepend">
                                <input type="submit" value="POST" class="btn btn-outline-secondary">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'dts' %}">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <div role="separator" class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                              </div>
                           
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                </form>
              </div>
            </div> {% endcomment %}
          <!-- </form> -->
          <!-- dts ends -->

<!-- {% for data in morning_data %}

            {{data}}

{% endfor %} -->


            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Employees Stats</h4>
                  <p class="card-category">Employees in your team</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Profile</th>
                      <th>Email IDs</th>
                    </thead>
                    <tbody>

                        {% for emp in emps %}
                            <tr>
                                <td>{{emp.id}}</td>
                                <td>{{emp.name}}</td>
                                <td>{{emp.postion}}</td>
                                <td>{{emp.email}}</td>
                            </tr>
                        {% endfor %}

                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
      <script>
       window.addEventListener("load", myInit, true); function myInit(){
          //  graphs();
            graph2();
            graph3();
            graph4()
          };
        
          
          function addachieved()
          {
            let countBox = 1;
            var boxName = 0;
           
              var boxName="textBox"+countBox; 
          document.getElementById('addachieved').innerHTML+=`<tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" name="">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </td>
              <td><input class="form-control" type="text" value="" name="achieved${countBox+4}"></td>
              
            </tr>`;
              countBox += 1;
          }
          function addremark()
          {
            let countBox = 1;
            var boxName = 0;
              var boxName="textBox"+countBox; 
          document.getElementById('addremark').innerHTML+=`<tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" name="">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </td>
              <td><input class="form-control" type="text" value="" name="target${countBox+4}"></td>
              
            </tr>`;
              countBox += 1;
          }

          function addtarget()
          {
            let countBox = 1;
            var boxName = 0;
              var boxName="textBox"+countBox; 
          document.getElementById('addtarget').innerHTML+=`<tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" name="">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </td>
              <td><input class="form-control" type="text" value="" name="target${countBox+4}"></td>
              
            </tr>`;
              countBox += 1;
          }



        days_of_week = Array.from({{ seven_days|safe }});
        data_for_day = Array.from({{ seven_data|safe }});
        min_value = {{min_data|safe}};
        max_value = {{max_data|safe}};
        dataDailySalesChart = {
            labels: days_of_week,
            series: [
              data_for_day
            ]
          };
    console.log(data_for_day);
          optionsDailySalesChart = {
            lineSmooth: Chartist.Interpolation.cardinal({
              tension: 0
            }),
            low: 0,
            high: max_value, // set the high sa the biggest value + something for a better look
            chartPadding: {
              top: 0,
              right: 0,
              bottom: 0,
              left: 3
            },
          }
          var dailySalesChart = new Chartist.Line('#dailyrecordChart', dataDailySalesChart, optionsDailySalesChart);

        dataCompletedTasksChart = {
            labels: ['12p', '3p', '6p', '9p', '12p', '3a', '6a', '9a'],
            series: [
              [230, 750, 450, 300, 280, 240, 200, 190]
            ]
          };
    
          optionsCompletedTasksChart = {
            lineSmooth: Chartist.Interpolation.cardinal({
              tension: 0
            }),
            low: 0,
            high: 1000, // set the high sa the biggest value + something for a better look
            chartPadding: {
              top: 0,
              right: 0,
              bottom: 0,
              left: 0
            }
          }
          courses = {{ month_course|safe }};
          collection_per_course = {{ month_collection|safe }};
          min_collection = {{ min_col|safe }};
          max_collection = {{ max_col|safe }};
          var completedTasksChart = new Chartist.Line('#completedTasksChart', dataCompletedTasksChart, optionsCompletedTasksChart);

          var dataWebsiteViewsChart = {
            labels: courses,
            series: [
              collection_per_course
    
            ]
          };
          var optionsWebsiteViewsChart = {
            axisX: {
              showGrid: false
            },
            low: min_collection,
            high: max_collection,
            chartPadding: {
              top: 0,
              right: 5,
              bottom: 0,
              left: 3
            }
          };
          var responsiveOptions = [
            ['screen and (max-width: 640px)', {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function(value) {
                  return value[0];
                }
              }
            }]
          ];
          var websiteViewsChart = Chartist.Bar('#website1ViewsChart', dataWebsiteViewsChart, optionsWebsiteViewsChart, responsiveOptions);
    
        //categrory wise graph
        leadsbycategory = {
          labels: {{category_names|safe}},
          series: [      
          {{category_count|safe}}
          ]
        };
  
        optionsleadsbycategory = {
          lineSmooth: Chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: {{max_cat_data}}, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          },
        };
  
        var leadsregchart = Chartist.Bar('#leadsbycategory', leadsbycategory, optionsleadsbycategory);
  
        

        //ends category graph


        //emp records graph

     /*   emprecordbycategory= {
          labels: {{emp_record_categories|safe}},
          series: [ 
              
          {{emp_records_by_category|safe}},
          {{emp_targets_by_category|safe}}                   
          ]
        };
        
        emprecordbycategory={
          labels: ['one', 'two'],
          series:[
            [1,2],
            [4,6]
          ]
        }
  
        optionsrecordbycategory = {
          lineSmooth: Chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: {{max_records_by_category}}, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          },
        };
  
        var monthlyrecordschart = Chartist.Bar('#emprecordbycategory', emprecordbycategory, optionsrecordbycategory);
*/

        function graphs(){
          
    
          md.startAnimationForLineChart(dailySalesChart);
        }
    
    
          /* ----------==========     Completed Tasks Chart initialization    ==========---------- */
    
          function graph2(){

              
          // start animation for the Completed Tasks Chart - Line Chart
          md.startAnimationForLineChart(completedTasksChart);
        }
    
          /* ----------==========     Emails Subscription Chart initialization    ==========---------- */
          function graph3(){
                    //start animation for the Emails Subscription Chart
          md.startAnimationForBarChart(websiteViewsChart);
          }

          function graph4(){
            md.startAnimationForLineChart(leadsregchart);
          }

        /*  function graph5(){
            md.startAnimationForLineChart(monthlyrecordschart);
          }

        */ 
      </script>

      {% endif %}

      {% endblock %}

      