{% extends 'dash_base.html' %}
{% block content %}
<div class="container" style="margin-top:10%;background:#ccc;display:inline-block;text-align:center;">

    <p style="text-align:center;" >#58, 2nd Floor, HMT Layout, R.T. Nagar, Behind R.T Nagar Police Station, Bangalore - 560032</p>    
    <div style="text-align:left;width:60%;display:inline-block;">

        <label for="date">Date</label>
        <p>To,<br>
        {% comment %} {{conpany name}} {% endcomment %}
        company adderss</p>
    <p>
        Madam/Sir,
    </p>

    <p>
        Subject: Ref: Tech + Enquired_for Quotation dated registration_date
        ref : Registration_date
    </p>
        <h4>1.Rates and Terms</h4>
        <table align="center">
        <thead>
            <th>
                S. No
            </th>
            <th>
                Item Description
            </th>
            <th>
                Price
            </th>
            <th>
                Tax (18%)
            </th>
            <th>
                Total Price
            </th>
            
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Enquired_for</td>
            <td>charges</td>
            <td>taxes</td>
            <td>grand total</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>grand total</td>
        </tr>
        <tr>
       
        
        
        </tbody>
        </table>
        <p align="center">(Rupees Twenty Nine Thousand and Five Hundred Only) Inclusive of Tax</p>
        <p>Payment to be made</p>
        <p>
        RED18 TECH <br>
        A/C NO:   020405007694 <br>
        IFSC CODE:  ICIC0000204 <br>
        Current Account <br>
        Bangalore RT Nagar ICICI Branch <br>
        GST No: 29AINPB5183A1ZE </p>
        <p>Payment to be made with 3 Days from the Date of Invoice</p>
        <p>Thanking you, <br>Yours faithfully, </p>

        <p>For RED18 Tech
        photo.url<br>
        AUTHORISED SIGNATOR
        </p>

    </div>
 </div>

{% endblock content %}