<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {{emp_days}}
    {{emp_records_each_day}}
    <table>
    {% for record in emp_records_each_day %}
        {% for key, value in record.items %}
            <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
            
            </tr>
        {% endfor %}

    {% endfor %}
    </table> 
</body>
</html>